<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata and External Links -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Custom CSS and Font Awesome CDN links -->
    <link href="/css/nav.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* Custom Shape Divider Styles */
        .custom-shape-divider-bottom-1703367355 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }

        .custom-shape-divider-bottom-1703367355 svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 174px;
        }

        .custom-shape-divider-bottom-1703367355 .shape-fill {
            fill: #FFFFFF;
        }
    </style>
</head>
<body>
    <!-- Include Navigation Bar -->
    {{>navbar}}

    <div class="container">
        <div class="row">
            <!-- Left Column - Introduction Section -->
            <div class="col-md-6">
                <h1>Let's get you</br> some help!</h1>
                <h6>Have any issue? Send us an <span class="email-us">email.</span></h6>
                <div class="img-wrapper">
                    <img src="https://www.occamagenciadigital.com/hs-fs/hubfs/img_hero_landing_roseta_bottom-1.gif?width=285&height=204&name=img_hero_landing_roseta_bottom-1.gif"
                        border="0">
                </div>
            </div>
            <!-- Right Column - Form Section -->
            <div class="col-md-6" id="form">
                <form action="https://formspree.io/f/xvonpknr" method="POST">
                    <!-- Form Fields -->
                    <div class="form-group" id="form-left">
                        <label for="username">Please Enter your name ?</label>
                        <input type="text" name="username" placeholder="Enter your name" autocomplete="off" required
                            class="form-control" id="list" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group" id="form-left">
                        <label for="email">Enter your Email .?</label>
                        <input type="email" name="email" placeholder="abc@gmail.com" autocomplete="off" required
                            class="form-control" id="tags">
                    </div>
                    <div class="form-group" id="form-left">
                        <label for="describe">Please describe your Airbnb thoughts ?</label>
                        <textarea type="text" name="describe" placeholder="Enter your response. " autocomplete="off"
                            required class="form-control" id="describe" rows="5"></textarea>
                    </div>
                    <div class="form-group" id="form-left">
                        <label for="exampleFormControlSelect1">Select Category</label>
                        <select class="form-control" id="exampleFormControlSelect1" id="form-left">
                            <option>Getting started with Airbnb.</option>
                            <option>Accesing your Account.</option>
                            <option>Help with a reservation</option>
                            <option>Getting protected through Aircover</option>
                            <option>Refunds</option>
                        </select>
                    </div>
                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-danger"><span>Send</span> <i
                            class="fas fa-long-arrow-alt-right"></i></button>
                </form>
            </div>
        </div>
        <!-- Custom Shape Divider -->
        <div class="custom-shape-divider-bottom-1703367355">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </div>
    <!-- Include Footer -->
    {{>footer}}
    <!-- Bootstrap JS script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>
</html>
