<!DOCTYPE html>
<html>

<head>
  <!-- Metadata -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <!-- Header Section -->
  <div class="header">
    <!-- Airbnb Logo -->
    <div class="logo">
      <a href="/"> <img src="/images/booking_Logo.png" alt="airbnb logo" /></a>
    </div>

    <!-- Navigation Links -->
    <div class="header-middle">
      <ul class="navLink">
        <li><a href="#">Anywhere</a></li>
        <li>|</li>
        <li><a href="#">Any week</a></li>
        <li>|</li>
        <li><a href="#">Add guests</a></li>
        <!-- Search Icon -->
        <span><i class="fas fa-search" style="position: relative; top: 12px; left: 13px;"></i></span>
      </ul>
    </div>

    <!-- Header Right Section -->
    <div class="header-right">
      <!-- Airbnb Hosting Section -->
      <div class="host">
        <span><a href="/host_page">Airbnb your home</a></span>
        <!-- Globe Icon -->
        <span><a href="#"><i class="fas fa-globe"></i></a></span>
      </div>

      <!-- Dropdown Menu -->
      <div class="nav-item dropdown">
        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <!-- Hamburger Icon -->
          <span style="margin:10px; color:black"><i class="fas fa-bars"></i></span>
          <!-- User Icon -->
          <span><i class="fas fa-user" style="color:black"></i></span> 
        </a>

        <!-- Dropdown Menu Items -->
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
          <li><a class="dropdown-item" href="/login">LogIn/SignUp</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/host_page">Host an Experience</a></li>
          <li><a class="dropdown-item" href="/help">Help</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- jQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
